@{
    ViewData["Title"] = "Política de Privacidade";
}
<h1>@ViewData["Title"]</h1>

<p>Para melhor experiência do usuário é preciso autorização de armazenamento de Cookies.</p>
<p>Não armazenamos dados pessoais do usuário.</p>
