@using HumanMusicSchoolManager.Views.Manage
@inject SignInManager<ApplicationUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}



<div class="card mt--7 bg-secondary shadow">
    <div class="card-header">
        <a asp-action="Index" class="btn btn-default">Perfil</a>
        <a asp-action="ChangePassword" class="btn btn-default">Senha</a>
    </div>
</div>


    
    @*@if (hasExternalLogins)
    {
        <li class="@ManageNavPages.ExternalLoginsNavClass(ViewContext)"><a asp-action="ExternalLogins">Logins externos</a></li>
    }
    <li class="@ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext)"><a asp-action="TwoFactorAuthentication">Autenticação de dois fatores</a></li>*@


