.class-mensage {
    border: 1px solid;
    border-color: lightgray;
    border-radius: 3px;
    width: 95%;
    margin: auto;
    padding: 0 20px 10px 20px;
    margin-bottom: 10px;
    background-color: #e9ecef;
    opacity: 1;
}

    .class-mensage label {
        border-bottom: 1px solid lightgray;
        width: 100%;
        margin: auto;
        text-align: center;
        display: block;
    }


    .aluno button {
        margin-bottom: 10px;
    }

.btn-lanca {
    margin-left: 15px;
    margin-right: 15px;
}

.contatos {
    border: 1px solid lightgray;
    border-radius: 5px;
    margin: 0 1.5px 10px 1.5px;
    padding: 15px 0;
}

.progresso {
    margin: 5px 1px 10px 1px;
}

.validation {
    margin: auto;
    padding-bottom: 1em;
}