@model List<string>
@{
    ViewData["Title"] = "Index";
}

<h2>Usuários</h2>
<hr />

<div class="row">
    <div class="col-md-10">
        <div class="form-group input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
            <input name="consulta" id="txt_consulta" placeholder="Consultar" type="text" class="form-control">
        </div>
    </div>
    <div class="col-md-2">
        <a asp-action="pessoa" class="btn btn-primary">Novo</a>
    </div>
</div>


<table id="tabela" class="table table-hover">
    <thead>
        <tr>
            <th>Usuario</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>
                    @user
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts
    {
    <script>
        $('input#txt_consulta').quicksearch('table#tabela tbody tr');
    </script>
    <script>
        $("a#excluir").click(function () {
            var cf = confirm("Tem certeza que deseja excluir o professor?");
            if (cf == true) {
                return true;
            }
            else {
                return false;
            }
        });
    </script>
}