@model Aluno
@{
    ViewData["Title"] = "Aluno";
}

<h2>@Model.Nome</h2>

<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="dados-tab" data-toggle="tab" href="#dados" role="tab" aria-controls="dados" aria-selected="true">Dados</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#curso" role="tab" aria-controls="curso" aria-selected="false">Curso</a>
    </li>
    <li class="nav-item">
        <a asp-action="Form" class="nav-link" asp-controller="Matricula" asp-route-alunoId="@(Model.Id)">+</a>
    </li>
</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="dados" role="tabpanel" aria-labelledby="dados-tab">...</div>
    <div class="tab-pane fade" id="curso" role="tabpanel" aria-labelledby="profile-tab">
        <br />
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="respFinanceiro" aria-selected="true">Responsável Financeiro</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="pacotes" aria-selected="false">Pacotes</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="respFinanceiro" role="tabpanel" aria-labelledby="home-tab">...</div>
            <div class="tab-pane fade" id="pacotes" role="tabpanel" aria-labelledby="profile-tab">...</div>
        </div>
    </div>
</div>


