@using Microsoft.AspNetCore.Identity
@using HumanMusicSchoolManager.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
<!-- Sidebar -->
<ul class="sidebar navbar-nav">
    <li class="nav-item">
        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span>
        </a>
    </li>
    @if (SignInManager.IsSignedIn(User))
    {

        @if (User.IsInRole("Professor"))
        {
            <li class="nav-item">
                <a class="nav-link" asp-controller="Professor" asp-action="Calendario">
                    <i class="far fa-calendar-alt"></i>
                    <span>Calendário</span>
                </a>
            </li>
        }

        @if (User.IsInRole("Coordenacao") || User.IsInRole("Admin"))
        {
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle folders" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-folder"></i>
                    <span>Coordenação</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="pagesDropdown">
                    <a class="dropdown-item" asp-controller="Professor" asp-action="Index"><i class="fas fa-chalkboard-teacher"></i> Professores</a>
                    <a class="dropdown-item" asp-controller="Professor" target="_blank" asp-action="FolhaPontoProfessor"><i class="far fa-file-alt"></i> Folha de Ponto</a>
                    <a class="dropdown-item" asp-controller="Curso" asp-action="Index"><i class="fas fa-music"></i> Cursos</a>
                    <a class="dropdown-item" asp-controller="Sala" asp-action="Index"><i class="fas fa-chalkboard"></i> Salas</a>
                    <a class="dropdown-item" asp-controller="Feriado" asp-action="Index"><i class="far fa-calendar-alt"></i> Feriados</a>
                    <a class="dropdown-item" asp-controller="Evento" asp-action="Index"><i class="far fa-calendar-check"></i> Eventos</a>
                </div>
            </li>
        }

        @if (User.IsInRole("Secretaria") || User.IsInRole("Admin"))
        {
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle folders" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-folder"></i>
                    <span>Secretaria</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="pagesDropdown">
                    <a class="dropdown-item" asp-controller="Funcionario" asp-action="Index"><i class="far fa-address-card"></i> Funcionários</a>
                    <a class="dropdown-item" asp-controller="PacoteAula" asp-action="Index"><i class="fas fa-box-open"></i> Pacotes de Aula</a>
                    <a class="dropdown-item" asp-controller="TaxaMatricula" asp-action="Index"><i class="fas fa-dollar-sign"></i> Taxas de Matricula</a>
                    <a class="dropdown-item" asp-controller="Contrato" asp-action="Index"><i class="far fa-file-alt"></i> Contratos</a>
                </div>
            </li>
        }

        @if (User.IsInRole("Atendimento") || User.IsInRole("Admin"))
        {
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle folders" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-folder"></i>
                    <span>Atendimento</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="pagesDropdown">
                    <a class="dropdown-item" asp-controller="Aluno" asp-action="Index"><i class="fas fa-user-graduate"></i> Alunos</a>
                    <a class="dropdown-item" asp-controller="RespFinanceiro" asp-action="Index"><i class="fas fa-money-check-alt"></i> Resp financeiros</a>
                    <a class="dropdown-item" asp-controller="Financeiro" asp-action="ParcelasEmAberto"><i class="fas fa-dollar-sign"></i> Parcelas em aberto</a>
                    <a class="dropdown-item" asp-controller="Financeiro" asp-action="ParcelasVencidas"><i class="fas fa-dollar-sign"></i> Parcelas vencidas</a>
                </div>
            </li>
        }
        @if (User.IsInRole("Atendimento") || User.IsInRole("Vendas") || User.IsInRole("Admin"))
        {
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle folders" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-folder"></i>
                    <span>Vendas</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="pagesDropdown">
                    <a class="dropdown-item" asp-controller="Candidato" asp-action="Index"><i class="fas fa-user"></i> Candidatos</a>
                    <a class="dropdown-item" asp-controller="Demostrativa" asp-action="DemostrativasAbertas"><i class="fas fa-music"></i> Abertas</a>
                </div>
            </li>
        }
        @if (User.IsInRole("Admin"))
        {
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle folders" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-folder"></i>
                    <span>Configurações</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="pagesDropdown">
                    <a class="dropdown-item" asp-controller="EmailConfig" asp-action="Form"><i class="far fa-envelope"></i> E-Mail</a>
                </div>
            </li>
        }

    }
</ul>

