
@model LoginViewModel

@{
    ViewData["Title"] = "Entrar";
    Layout = "";
}

<!DOCTYPE html>
<html>
<head>
    <link href="~/css/login.css" rel="stylesheet">
    @await Html.PartialAsync("_PageHeadElement")
</head>
<body class="bg-default">
    @*<partial name="_GoogleTagManagerBodyElement" />*@

    <div class="main-content">
        @await Html.PartialAsync("Auth/_Navbar")
        @await Html.PartialAsync("Auth/_Header")

        <!-- Page content -->
        <div class="container mt--8 pb-5">
            <div class="row justify-content-center">
                <div class="col-lg-5 col-md-7">
                    <div class="card bg-secondary shadow border-0">
                        
                        <div class="card-body px-lg-5 py-lg-5">
                            <div class="text-center text-muted mb-4">
                                <small>Entre com seu login e senha</small>
                                
                            </div>
                            <form id="account" method="post">
                                @if (!ViewData.ModelState.IsValid && ViewData.ModelState[string.Empty] != null)
                                {
                                    @foreach (var error in @ViewData.ModelState[string.Empty]?.Errors)
                                    {
                                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                            <span>@error.ErrorMessage</span>
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">×</span>
                                            </button>
                                        </div>
                                    }
                                }
                                <div class="form-group mb-3">
                                    <div class="input-group input-group-alternative">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                                        </div>
                                        <input asp-for="UserName" class="form-control" placeholder="Usuário" type="text" />
                                    </div>
                                    <span asp-validation-for="UserName" class="invalid-feedback" style="display: block"></span>
                                </div>
                                <div class="form-group">
                                    <div class="input-group input-group-alternative">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                                        </div>
                                        <input asp-for="Password" placeholder="Senha" type="password" class="form-control" />
                                    </div>
                                    <span asp-validation-for="Password" class="invalid-feedback" style="display: block"></span>
                                </div>
                                <div class="custom-control custom-control-alternative custom-checkbox">
                                    <input asp-for="RememberMe" class="custom-control-input" id=" customCheckLogin" type="checkbox" />
                                    <label class="custom-control-label" for=" customCheckLogin">
                                        <span class="text-muted">@Html.DisplayNameFor(m => m.RememberMe)</span>
                                    </label>
                                </div>
                                <div class="text-center">
                                    <button class="btn btn-primary my-4" type="submit">Entrar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-6">
                            <a id="forgot-password" asp-action="ForgotPassword" class="text-light"><small>Esqueceu a senha?</small></a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        @await Html.PartialAsync("Auth/_Footer")
    </div>


</body>
</html>


<!-- Table -->


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
