@model Sala
@{
    ViewData["Title"] = "Calendario";
}

@section Styles{
    <link href="~/fullcalendar-3.9.0/fullcalendar.min.css" rel="stylesheet" />
    <link href="~/fullcalendar-3.9.0/fullcalendar.print.min.css" rel="stylesheet" media="print" />
    <link href="~/css/FullCalendarSite.css" rel="stylesheet" />
}
<h2>@Model.Nome</h2>
<input id="salaId" value="@Model.Id" type="hidden" />
@await Html.PartialAsync("_Message")
<div class="row">
    <div class="col-md-10">
        <ul class="list-group">
            <li class="list-group-item active">
                <div class="row">
                    <div class="col-11" style="padding-top: 10px">
                        <i class="fas fa-circle text-info"></i>Agendada
                        <i class="fas fa-circle text-success" style="padding-left: 10px"></i>Ministrada
                        <i class="fas fa-circle text-danger" style="padding-left: 10px"></i>Atrasada
                        <i class="fas fa-circle text-warning" style="padding-left: 10px"></i>Férias e feriado
                        <i class="fas fa-circle text-secondary" style="padding-left: 10px"></i>Eventos
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div id='calendar'></div>
            </li>
        </ul>
    </div>
</div>
<br />

@section Scripts{
    <script src="~/fullcalendar-3.9.0/lib/moment.min.js"></script>
    <script src="~/fullcalendar-3.9.0/fullcalendar.min.js"></script>
    <script src="~/fullcalendar-3.9.0/locale/pt-br.js"></script>
    <script src="~/js/calendar/calendarSala.js"></script>
}

