@model Sala
@{
    ViewData["Title"] = "Calendario de Sala";
}

@section Styles{
    <link href="~/fullcalendar-3.9.0/fullcalendar.min.css" rel="stylesheet" />
    <link href="~/fullcalendar-3.9.0/fullcalendar.print.min.css" rel="stylesheet" media="print" />
    <link href="~/css/FullCalendarSite.css" rel="stylesheet" />
}


<input id="salaId" value="@Model.Id" type="hidden" />

<div class="card bg-secondary shadow">
    <div class="card-header">
        <div class="row">
            <div>
                <i class="fas fa-circle text-info"></i>Agendada
                <i class="fas fa-circle text-success"></i>Ministrada
                <i class="fas fa-circle text-danger"></i>Atrasada
                <i class="fas fa-circle text-warning"></i>Férias e feriado
                <i class="fas fa-circle text-secondary"></i>Eventos
            </div>
        </div>
    </div>
    <div class="card-body">
        <div id='calendar'></div>
    </div>
</div>


@section Scripts{
    <script src="~/fullcalendar-3.9.0/lib/moment.min.js"></script>
    <script src="~/fullcalendar-3.9.0/fullcalendar.min.js"></script>
    <script src="~/fullcalendar-3.9.0/locale/pt-br.js"></script>
    <script src="~/js/calendar/calendarSala.js"></script>
}

