
@{
    ViewData["Title"] = "Eventos";
}

@section Styles{
    <link href="~/fullcalendar-3.9.0/fullcalendar.min.css" rel="stylesheet" />
    <link href="~/fullcalendar-3.9.0/fullcalendar.print.min.css" rel="stylesheet" media="print" />
    <link href="~/css/FullCalendarSite.css" rel="stylesheet" />
}

<div class="card bg-secondary shadow">
    <div class="row">
        <div class="col-xl-12">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-11 col-10" style="padding-top: 10px">
                        <i class="fas fa-calendar-alt"></i> Eventos
                    </div>
                    <div class="col-md-1 col-2">
                        <a asp-action="Form" class="btn text-white icon icon-shape bg-success text-white rounded-circle shadow"><i class="fas fa-plus-circle"></i></a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div id='calendar'></div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/fullcalendar-3.9.0/lib/moment.min.js"></script>
    <script src="~/fullcalendar-3.9.0/fullcalendar.min.js"></script>
    <script src="~/fullcalendar-3.9.0/locale/pt-br.js"></script>
    <script src="~/js/calendar/calendarEvento.js"></script>
}

