@model Feriado
@{
    ViewData["Title"] = "Form";
}

@section Styles{ 
    <link href="~/css/SwitchButton.css" rel="stylesheet" />
}

<input id="rota" type="hidden" value="Curso" />
<div class="row">
    <div class="col-md-10">
        <h2 class="col-md-10">Férias e feriado</h2>
    </div>
    <div class="col-md-1">
        <a asp-action="Form" class="btn btn-primary">Novo</a>
    </div>
    <div class="col-md-1">
        @if (Model != null && Model.Id != null)
        {
            <a asp-action="Excluir" asp-route-feriadoId="@Model.Id" class="btn btn-danger">Excluir</a>
        }
    </div>
</div>
<br />
<br />
<div class="list-group">
    <div class="list-group-item">
        <form role="form" method="post" asp-action="form">

            <input asp-for="Id" type="hidden" />
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label asp-for="Nome"></label>
                        <input asp-for="Nome" class="form-control col-md-4">
                        <span asp-validation-for="Nome" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label asp-for="DataInicial"></label>
                        <input asp-for="DataInicial" type="date" class="form-control col-md-12" required />
                        <span asp-validation-for="DataInicial" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-10">
                    <div class="form-group">
                        <label>Vários dias</label><br />
                        <label class="switch">
                            <input id="switch" type="checkbox">
                            <span class="slider round"></span>
                        </label>
                    </div>
                </div>
                <div id="visible" class="col-md-12">
                    <div class="form-group">
                        <label asp-for="DataFinal"></label>
                        <input asp-for="DataFinal" type="date" class="form-control col-md-2" />
                        <span asp-validation-for="DataFinal" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-success">@(Model == null ? "Cadastrar" : Model.Id == null ? "Cadastrar" : "Alterar")</button>
            <a asp-action="Index" class="btn btn-primary">Voltar</a>
        </form>
    </div>
</div>

@section Scripts{ 
    <script src="~/js/Feriado.js"></script>
}