@model Contrato
@{
    ViewData["Title"] = "Contrato";
}

<div class="card">
    <div class="card-header">
        <a class="btn btn-primary btn-sm" asp-controller="Aluno" asp-action="Aluno" asp-route-alunoId="@ViewBag.AlunoId">Voltar</a>
    </div>
    <div class="card-body" style="padding: 0;">
        <textarea asp-for="Conteudo" disabled rows="10" cols="80">
                    </textarea>
    </div>
</div>

@section Scripts{
    <script src="~/ckeditor-full/ckeditor.js"></script>
    <script>
        // Replace the <textarea id="editor1"> with a CKEditor
        // instance, using default configuration.
        CKEDITOR.replace('Conteudo').config.height = '500px';
    </script>
    <script src="~/js/Aula.js"></script>
}

