@model List<Contrato>
@{
    ViewData["Title"] = "Contrato";
}

@section Styles {
    <link type="text/css" rel="stylesheet" href="~/css/tabelas.css" />
}

<div class="card mt--5">
    <div class="card-header">
        <div class="row">
            <div class="col-md-11">
                <i class="far fa-file-alt"></i>
                Contrato
            </div>
            <div class="col-md-1">
                <a asp-action="Form" class="btn btn-primary">Novo</a>
            </div>
        </div>

    </div>
    <div class="card-body" id="card-body">
        <div class="table-responsive">
            <table class="table table-sm align-items-center table-hover table-flush dataTable no-footer" id="dataTable" cellspacing="0">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th class="text-center">Ativo</th>
                        <th class="text-center">Alterar</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var contrato in Model)
                    {
                        <tr>
                            <td>@contrato.Nome</td>
                            <td class="text-center">
                                <div class="custom-control custom-checkbox mb-3">
                                    <input asp-for="@contrato.Ativo" class="custom-control-input" onclick="return false" id="customCheck1" type="checkbox">
                                    <label class="custom-control-label" for="customCheck1"></label>
                                </div>
                            </td>
                            <td class="text-center">
                                <div class="avatar-group">
                                    <a data-toggle="tooltip" data-placement="top" title="Dados" class="avatar avatar-sm bg-warning" asp-action="Form" asp-route-contratoId="@(contrato.Id)"><i class="fas fa-pencil-alt"></i></a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/vendor/datatables/jquery.dataTables.js"></script>
    <script src="~/vendor/datatables/dataTables.bootstrap4.js"></script>
    <script src="~/js/demo/datatables-demo.js"></script>
}

