@{
    ViewData["Title"] = "Index";
}

    <div id="canvas-holder" style="width:40%">
        <canvas id="chart-area"></canvas>
    </div>

@section Scripts{
    <script src="~/js/Chart/Chart.min.js"></script>
    <script src="~/js/Chart/samples/utils.js"></script>
    <script src="~/js/Gráficos/EntradaSaida.js"></script>
}