@model Professor
@{
    ViewData["Title"] = Model.Nome;
}
<h2>@Model.Nome</h2>
@section Styles{
    <link href="~/fullcalendar-3.9.0/fullcalendar.min.css" rel="stylesheet" />
    <link href="~/fullcalendar-3.9.0/fullcalendar.print.min.css" rel="stylesheet" media="print" />
    <link href="~/css/FullCalendarSite.css" rel="stylesheet" />
}

<input id="professorId" value="@Model.Id" type="hidden" />
<input id="user" value="@ViewBag.user" type="hidden" />
<div class="card bg-secondary shadow">
    <div class="card-header">
        <div class="row">
            <div>
                <div class="legenda"><i class="fas fa-circle text-info"></i>Agendada</div>
                <div class="legenda"><i class="fas fa-circle text-success"></i>Ministrada</div>
                <div class="legenda"><i class="fas fa-circle text-danger"></i>Atrasada</div>
                <div class="legenda"><i class="fas fa-circle text-warning"></i>Férias e feriado</div>
                <div class="legenda"><i class="fas fa-circle text-secondary"></i>Eventos</div>
                <div class="legenda"><i class="fas fa-user"></i> Individual</div>
                <div class="legenda"><i class="fas fa-users"></i> Grupo</div>
            </div>
    </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div id='calendar'></div>
        </div>
    </div>
</div>


@section Scripts{
    <script src="~/fullcalendar-3.9.0/lib/moment.min.js"></script>
    <script src="~/fullcalendar-3.9.0/fullcalendar.min.js"></script>
    <script src="~/fullcalendar-3.9.0/locale/pt-br.js"></script>
    <script src="~/js/calendar/calendarProfessor.js"></script>
}
