@model AulaConfig
@{
    ViewData["Title"] = "Configurações de aula";
}

<div class="row">
    <div class="col-md-4">
        <div class="card mt-2 bg-secondary shadow">
            <div class="card-header">
                <h4>Configurações de aula</h4>
            </div>
            <form asp-action="Form">
                <div class="card-body">

                    <div asp-validation-summary="All" class="text-danger"></div>
                    <input asp-for="Id" type="hidden" />
                    @if (Model != null)
                    {
                        <input name="horaAntiga" type="hidden" value="@Model.TempoLimiteLancamento" />
                    }
                    <div class="form-group">
                        <label asp-for="TempoLimiteLancamento" class="control-label"></label>
                        <input asp-for="TempoLimiteLancamento" type="number" class="form-control" />
                        <span asp-validation-for="TempoLimiteLancamento" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input asp-for="LancamentoAtrasado" /> @Html.DisplayNameFor(model => model.LancamentoAtrasado)
                            </label>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label asp-for="MinCaracteresDescAtividades" class="control-label"></label>
                        <input asp-for="MinCaracteresDescAtividades" type="number" class="form-control" />
                        <span asp-validation-for="MinCaracteresDescAtividades" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input asp-for="DescAtividadesObrigatorio" /> @Html.DisplayNameFor(model => model.DescAtividadesObrigatorio)
                            </label>
                        </div>
                    </div>

                </div>
                <div class="card-footer">
                    <input type="submit" value="Salvar" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-2">
        
    </div>
</div>

